<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h3>Welcome page</h3>
    <p class="home-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus praesentium mollitia dolorem nulla sint voluptate incidunt culpa tempore nihil est ab iure ipsum vitae inventore nemo et quae sit, corporis molestiae. Eaque inventore culpa odio vel excepturi iure dicta, enim est, dolore debitis eos, velit minima accusamus blanditiis voluptatum. Est, dolorem non ipsum eveniet alias commodi libero aut fugiat sit delectus distinctio sint impedit amet. Id omnis officiis rem sint! A quam tempore voluptatibus sed ratione sunt exercitationem consequuntur aspernatur possimus atque unde rem deleniti, iste praesentium tempora ea laudantium commodi optio minima molestiae libero inventore! Aperiam, odit reprehenderit deserunt accusamus quo dolor! Quo eius nesciunt commodi praesentium provident recusandae corrupti ab aliquid quam quibusdam dicta, neque amet porro saepe incidunt laboriosam in sapiente quisquam delectus quia quae at maxime et cupiditate. Necessitatibus id blanditiis dicta sapiente neque voluptas officiis voluptates adipisci a quia unde, omnis, qui enim nam, soluta mollitia nesciunt! Ipsum omnis explicabo eveniet numquam deserunt itaque quisquam odit praesentium fugit dolorum quae ab delectus, quibusdam labore, beatae aperiam quam repellendus, ducimus quaerat similique esse! Corrupti facere repellat eaque nesciunt vero voluptatem cumque culpa animi accusamus rerum, tempora delectus sequi commodi obcaecati, esse dolor et similique eos ullam exercitationem quos? Cumque ipsa officiis, nemo magni ad deleniti praesentium necessitatibus dolorem dolore fuga eligendi culpa error dolorum quasi corrupti molestias eos nisi soluta nobis ex temporibus sunt tempore voluptatum vel? Temporibus ipsa accusantium repellat sapiente modi corporis dolor earum enim ullam! Cupiditate, corporis! Odio cupiditate voluptatibus repellat molestiae ad sapiente iste laborum earum vero iusto ducimus eligendi quod odit, itaque neque exercitationem beatae cum. Sed commodi quibusdam sapiente! Tempore earum doloribus, fuga voluptate consequuntur ad aperiam nihil dolore harum molestias! Dicta eius velit error porro ratione, culpa dolore a accusantium ex eveniet vel. Amet eum cupiditate aut cumque optio!</p>
</body>
</html>