<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        
    <a href="/signup">Sign up</a>
    <h1>Login</h1>

    <form action="/login" method="post">
        <label>
           <span> Email*:</span> <input type="email" name="email" placeholder="Enter email">
        </label>
         <label>
           <span> Password*: </span><input type="password" name="password" placeholder="Enter Password">
        </label>
        <button type="submit">Login</button>
    </form>
    </div>
</body>
</html>